.grid {
  width: 400px;
  height: 600px;
  background-image: url('../imgs/background.png');
  position: relative;
  font-size: 100px;
  text-align: center;
}

.doodler {
  width: 60px;
  height: 85px;
  position: absolute;
  background-image: url('../imgs/doodler.png');
}

.platform {
  width: 85px;
  height: 15px;
  background-color: green;
  position: absolute;
  background-image: url('../imgs/platform.png');
}

.hide {
  display: none;
}

.btn {
  position: relative;
  bottom: -250px;
  width: 250px;
  height: 80px;
  font-size: 30px;
}